.wrapper {
  margin-right: var(--INDENT_8);
}

.wrapper:last-child {
  margin-right: 0;
}

.link {
  transition: 0.4s;
  font-size: var(--FONT_SIZE_20);
  color: var(--white-color);
  cursor: pointer;
}

.link:hover {
  color: var(--primary-color);
}
