.title {
  margin-top: var(--INDENT_8);
  margin-bottom: var(--INDENT_20);
  opacity: 1;
  font-size: var(--FONT_SIZE_28);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "thunder_extraboldlc", sans-serif;
  color: var(--white-color);
  cursor: default;
}

.subtitle {
  margin-bottom: 40px;
  font-size: var(--FONT_SIZE_24);
  font-family: "thunder_extraboldlc", sans-serif;
  color: var(--white-color);
  cursor: default;
}

.mb12 {
  margin-bottom: var(--INDENT_12);
}

.titleLink {
  font-size: var(--FONT_SIZE_24);
  font-family: "thunder_extraboldlc", sans-serif;
  color: var(--white-color);
  cursor: default;
}

.link {
  margin-bottom: var(--INDENT_20);
  font-size: var(--FONT_SIZE_16);
  color: var(--white-color);
  transition: color 0.4s;
}

.link:hover {
  color: var(--primary-color);
}
