.title {
  margin-top: 8px;
  margin-bottom: 20px;
  opacity: 1;
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "thunder-extraboldlc", sans-serif;
  color: var(--white-color);
  cursor: default;
}

.subtitle {
  margin-bottom: 40px;
  font-size: 24px;
  font-family: "thunder-extraboldlc", sans-serif;
  color: var(--white-color);
  cursor: default;
}

.titleLink {
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "thunder-extraboldlc", sans-serif;
  color: var(--white-color);
  cursor: default;
}

.link {
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "opensans_semibold", sans-serif;
  color: var(--white-color);
  transition: color 0.4s;
}

.link:hover {
  color: var(--primary-color);
}
