.film {
  position: relative;
}

.loding::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--loader-background-color) 25%,
    var(--loader-highlight-color) 50%,
    var(--loader-background-color) 75%
  );
  background-size: 200% 100%;
  animation: loading 2s infinite ease-in-out;
  border-radius: 8px;
  margin-bottom: 20px;
  z-index: 1;
}

.video {
  padding: 56.25% 0 0 0;
  position: relative;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.borderBottom {
  border-bottom: 1px solid var(--primary-color);
}

.padding {
  padding: var(--INDENT_20) 0;
}

.mb12 {
  margin-bottom: var(--INDENT_12);
}

.client {
  letter-spacing: 0.35px;
  text-transform: uppercase;
  margin-bottom: var(--INDENT_10);
  font-size: var(--FONT_SIZE_20);
  line-height: 1;
  color: var(--primary-color);
  font-family: "dinpro_condensedmedium", sans-serif;
  font-weight: 900;
}

.name {
  text-transform: uppercase;
  margin-bottom: var(--INDENT_10);
  font-size: var(--FONT_SIZE_24);
  color: var(--white-color);
  font-family: "thunder_extraboldlc", sans-serif;
}

.category {
  color: var(--g100-color);
  font-family: "thunder_extraboldlc", sans-serif;
  font-size: var(--FONT_SIZE_20);
}

.description {
  font-size: var(--FONT_SIZE_20);
  letter-spacing: 0.35px;
  line-height: 1;
  color: var(--white-color);
  font-family: "dinpro_condensedmedium", sans-serif;
  font-weight: 900;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
