.content {
  display: flex;
  max-width: 764px;
  width: 100%;
  padding-top: 6vw;
  padding-bottom: 6vw;
  align-items: center;
  flex: 0 0 auto;
}

.alignBlock {
  position: relative;
  overflow: visible;
  padding-top: var(--INDENT_16);
  flex: 1;
}
