.wrapper {
  padding-left: 20px;
  background-color: transparent;
  position: sticky;
  left: 0;
  top: 0;
  display: inline-block;
  height: 100vh;
  padding-right: 70px;
}

.content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding-bottom: 80px;
}

.logo {
  transition: 0.4s;
  color: var(--white-color);
  font-family: "thunder-extraboldlc", sans-serif;
  font-size: 24px;
}

.logo:hover {
  color: var(--primary-color);
}
