.wrapper {
  display: flex;
  align-items: center;
}

.container {
  border: 1px solid var(--white-color);
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.note {
  margin-top: 20px;
}

.note a {
  text-decoration: underline;
}
