.wrapper {
  width: 100%;
  height: 100%;
  background: var(--white-color);
}

.header {
  background: var(--black-color);
}

.tabs {
  padding-top: var(--INDENT_20);
  margin-bottom: var(--INDENT_20);
}

.tab {
  padding: var(--INDENT_8) var(--INDENT_12);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.nav {
  padding: var(--INDENT_20);
  background: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  transition: 0.4s;
  color: var(--white-color);
}

.navLink:hover {
  color: var(--primary-color);
}

.logout {
  transition: 0.4s;
  padding: var(--INDENT_8) var(--INDENT_12);
  background: var(--white-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logout:hover {
  background: var(--primary-color);
}

.icon {
  margin: 0 var(--INDENT_4);
}
