.wrapper {
  display: flex;
  align-items: center;
}

.container {
  padding: var(--INDENT_20);
  color: var(--black-color);
  background: var(--white-color);
}

.title {
  font-size: var(--FONT_SIZE_24);
  color: var(--black-color);
  margin-bottom: var(--INDENT_20);
  font-weight: 500;
}
