.wrapper {
  display: flex;
  align-items: center;
}

.container {
  padding: 20px;
  color: var(--black-color);
  background: var(--white-color);
}

.title {
  font-size: 24px;
  color: var(--black-color);
  margin-bottom: 20px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: var(--INDENT_8) var(--INDENT_12);
  font-size: 16px;
  border: 1px solid var(--black-color);
  border-radius: 2px;
}

.input:active,
.input:focus {
  outline: 2px solid var(--primary-color);
}

.submit {
  background: var(--black-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  transition: 0.4s;
}

.submit:hover {
  background: var(--dark-primary-color);
}
