@font-face {
  font-family: "thunder_extraboldlc";
  src:
    url("./assets/fonts/thunder-extraboldlc.woff2") format("woff2"),
    url("./assets/fonts/thunder-extraboldlc.woff") format("woff"),
    url("./assets/fonts/thunder-extraboldlc.svg#thunder-extraboldlc")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dinpro_condensedlight";
  src:
    url("./assets/fonts/dinpro_condensedlight.woff2") format("woff2"),
    url("./assets/fonts/dinpro_condensedlight.woff") format("woff"),
    url("./assets/fonts/dinpro_condensedlight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dinpro_condensedmedium";
  src:
    url("./assets/fonts/dinpro_condensedmedium.woff2") format("woff2"),
    url("./assets/fonts/dinpro_condensedmedium.woff") format("woff"),
    url("./assets/fonts/dinpro_condensedmedium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dinpro_condensedregular";
  src:
    url("./assets/fonts/dinpro_condensedregular.woff2") format("woff2"),
    url("./assets/fonts/dinpro_condensedregular.woff") format("woff"),
    url("./assets/fonts/dinpro_condensedregular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
