body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "opensans_bold";
  src:
    url("./assets/fonts/opensans-bold.woff2") format("woff2"),
    url("./assets/fonts/opensans-bold.woff") format("woff"),
    url("./assets/fonts/opensans-bold.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans_regular";
  src:
    url("./assets/fonts/opensans-regular.woff2") format("woff2"),
    url("./assets/fonts/opensans-regular.woff") format("woff"),
    url("./assets/fonts/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans_semibold";
  src:
    url("./assets/fonts/opensans-semibold.woff2") format("woff2"),
    url("./assets/fonts/opensans-semibold.woff") format("woff"),
    url("./assets/fonts/opensans-semibold.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "thunder-extraboldlc";
  src:
    url("./assets/fonts/thunder-extraboldlc.woff2") format("woff2"),
    url("./assets/fonts/thunder-extraboldlc.woff") format("woff"),
    url("./assets/fonts/thunder-extraboldlc.svg#thunder-extraboldlc")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  display: table;
  height: inherit;
  width: 100%;
}

.App {
  height: 100%;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
