:root {
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #ffc93a;
  --dark-primary-color: #422b00;
  --g100-color: #a5a5a5;

  --FONT_SIZE_16: 16px;
  --FONT_SIZE_18: 18px;
  --FONT_SIZE_20: 20px;
  --FONT_SIZE_22: 22px;
  --FONT_SIZE_24: 24px;
  --FONT_SIZE_26: 26px;
  --FONT_SIZE_28: 28px;

  --DST_CORNER_RADIUS_10: 10px;

  --INDENT_6: 6px;
  --INDENT_8: 8px;
  --INDENT_10: 10px;
  --INDENT_12: 12px;
  --INDENT_14: 14px;
  --INDENT_16: 16px;
  --INDENT_18: 18px;
  --INDENT_20: 20px;
}
